.container {
	min-height: 100vh;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}
.background {
	z-index: -1;
}
@media only screen and (max-width: 600px) {
	.container {
		min-height: 100vh;
		height: auto;
		display: flex;
		flex-direction: column;
	}
	.background {
		display: none;
	}
}
