.background{
	z-index: -1;
	position: fixed;
	top: -30%;
	right: -10%;
}

.background2{
	z-index: -1;
	position: fixed;
	bottom: -15%;
	left: -15%;
}

@media only screen and (max-width: 1220px) {
	.background, .background2 {
		display: none;
	}
}