.container{
	display: flex;
	height: 80vh;
	align-items: center;
}
.info {
	display: flex;
	width: 100%;
	justify-content: space-around;
	padding: 0px 150px 50px 150px;
	margin: 20px 0px;
}
.img {
	width: 30%;
	height: auto;
	border-radius: 15px;
}
.content {
	width: 70%;
	padding-left: 50px;
}
.name {
	font-size: 50px;
	color: var(--color-text-primary);
	margin-top: 0px;
	margin-bottom: 5px;
}
.department {
	font-size: 24px;
	color: var(--color-text-primary);
	margin-top: 0px;
	margin-bottom: 40px;
}
.biography {
	color: var(--color-text-primary);
	font-size: 18px;
	height: 340px;
	margin-bottom: 20px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.btn_group {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
@media only screen and (max-height: 768px) {
	.container {
		display: block;
	}
}
@media only screen and (max-width: 1024px) {
	.container{
		display: block;
	}
	.info {
		display: block;
		padding: 0px 20px;
		text-align: center;
	}
	.img {
		padding: 20px;
		border-radius: 15px;
	}
	.content {
		width: 100%;
		padding: 0px;
	}
	.name {
		font-size: 50px;
		line-height: 55px;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	.department {
		font-size: 20px;
		margin-top: 0px;
		margin-bottom: 40px;
	}
	.biography {
		height: 340px;
		width: 80%;
		margin: 50px 10%;
		text-align: left;
	}
	.btn_group {
		justify-content: center;
		gap: 30px;
		padding-bottom: 30px;
	}
}	

@media only screen and (max-width: 600px) {
	.biography{
		width: 100%;
		margin: 10px;
	}
	.btn_group {
		width: 100%;
		display: block;
	}
}