.single {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	box-shadow: 3px 6px 10px rgba(0,0,0,0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	span {
		color: var(--color-white);
		font-size: 32px;
	}
}
@media only screen and (max-width: 600px) {
	.single {
		width: 40px;
		height: 40px;
		span {
			font-size: 24px;
		}
	}
}
